.card {
    height: 500px;
    width: 400px;
    color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.Tinder__cardsContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h3 {
    position: absolute;
    margin-top: 460px;
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

.swipe {
    position: absolute;
}